.three-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 100px;
    margin: 100px;
    background: #eeebeb;
    border: 1px dashed greenyellow;
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.control-panel button {
    margin-left: 10px;
}

.play-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.cube {
    display: flex;
    min-width: 100px;
    height: 100px;
    border: 2px solid green;
}

.cube-update {
    border-color: red;
}
